body {
    width: 1920px;
    height: 100%;
    display: block;
    background: #E5E5E5;
    margin-left: auto;
    margin-right: auto;
}

.conteiner-1 {
    display: block;
    width: 1920px;
    /* height: 4000px; */
    background-color: #171717;
    color: white;
    list-style-type: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding-left: 230px;
    padding-right: 230px;
    padding-top: 46px;
    padding-bottom: 239px;    
}

.text-1 {
    font-size: 50px;
    margin-bottom: 41px;
}

.paragraph-1 {
    width: 1182px;
    height: 56px;
    font-size: 20px;
    margin-bottom: 41px;
}

.wrapper-1 {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-bottom: 128px;
    
}

.button {
    display: block;
    box-sizing: border-box;
    width: 218px;
    height: 50px;
    border: 1px solid #E4B564;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    padding: 17px 20px;    
}

.button:hover {
    background-color: #0E0E0E;
}

.header-1 {
    margin-bottom: 41px;

} 

.grid-1 {
    display: grid;
    grid-template-columns: repeat(6, 217.5px);
    grid-template-rows: repeat(2, 468px);
    justify-content: space-between;
    align-content: center;
    grid-template-areas: 
    "item1-1 item1-1 item1-2 item1-2 item1-3 item1-3"
    "item1-4 item1-4 item1-4 item1-5 item1-5 item1-5";
    gap: 25px;
    box-sizing: border-box;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif ;
    margin-bottom: 161px; 
    text-align: center; 
} 
    
.item1-1 {
    grid-area: item1-1;
    background-color: #634F2C;
    box-sizing: border-box;
    /* grid-column: 1 / 3; */
    width: 467px;
    /* height: 468px; */
    padding: 220px 148px;
    
}

.item1-2 {
    grid-area: item1-2;
    background-color: #B4A385;
    box-sizing: border-box;
    /* grid-column: 3 / 5; */
    width: 467px;
    /* height: 468px; */
    padding: 206px 43px;

}

.item1-3 {
    grid-area: item1-3;
    background-color: #E4B564;
    box-sizing: border-box;
    /* grid-column: 5 / 7; */
    width: 467px;
    /* height: 468px; */
    padding: 220px 140px;

}

.item1-4 {
    grid-area: item1-4;
    background-color: #635A4A;
    box-sizing: border-box;
    /* grid-column: 1 / 4; */
    width: 715px;
    /* height: 468px; */
    padding: 220px 162px;

}

.item1-5 {
    grid-area: item1-5;
    background-color: #B08C4D;
    box-sizing: border-box;
    /* grid-column: 4 / 7; */
    width: 715px;
    /* height: 468px; */
    padding: 220px 237px;
}

.text-2 {
    font-size: 50px;
    margin-bottom: 94px;    
}

.grid-2 {
    height: 897px;
    display: grid;
    grid-template-columns: repeat(3, 467px);
    grid-template-rows: 132.5px repeat(4, 149.5px) 156.5px;
    justify-content: space-between;
    box-sizing: border-box;
    /* gap: 25px; */
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif ;
    margin-bottom: 191.19px; 
    text-align: start;  
}

.item2-1 {
    background-color: #0E0E0E;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    /* gap: 0 0 24px 0; */
    width: 467px;
    height: 313px;
    box-sizing: border-box;
    padding: 44px 113px 219px 52px;
    /* margin-bottom: 24px; */
}

.item2-2 {
    background-color: #242424;
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    /* gap: 0 30px 33px 30px; */
    width: 467px;
    height: 439px;
    box-sizing: border-box;
    padding: 44px 113px 345px 51px;
    margin-bottom: 33px;
}

.item2-3 {
    background-color: #1F1F1F;
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    /* gap: 0 0 26px 30px; */
    width: 467px;
    height: 255px;
    box-sizing: border-box;
    padding: 44px 117px 186px 48px;
    /* margin-bottom: 26px; */

}

.item2-4 {
    background-color: #1F1F1F;
    grid-column: 1 / 2;
    grid-row: 3 / 7;
    /* gap: 24px 30px 0 0; */
    width: 467px;
    height: 560px;
    box-sizing: border-box;
    padding: 56px 113px 479px 52px;
    margin-top: 52px;
}

.item2-5 {
    background-color: #E4B564;
    color: #000000;
    grid-column: 2 / 3;
    grid-row: 4 / 7;
    /* gap: 33px 30px 30px 20px; */
    width: 467px;
    height: 405px;
    box-sizing: border-box;
    padding: 47px 113px 333px 52px;
    margin-top: 33px;
}

.item2-6 {
    background-color: #0E0E0E;
    grid-column: 3 / 4;
    grid-row: 3 / 5;
    /* gap: 26px 0 26px 30px; */
    width: 467px;
    height: 313px;
    box-sizing: border-box;
    padding: 44px 117px 244px 48px;
    /* margin-bottom: 26px; */
}

.item2-7 {
    background-color: #0A0909;
    grid-column: 3 / 4;
    grid-row: 5 / 7;
    /* gap: 26px 0 0 30px; */
    width: 467px;
    height: 277px;
    box-sizing: border-box;
    padding: 44px 117px 208px 48px;
    margin-top: 36px;
}

.conteiner-2 {
    display: block;
    width: 1920px;
    /* height: 1054px; */
    box-sizing: border-box;
    background-color: #0E0E0E;
    padding-left: 230px;
    padding-right: 230px;
    padding-top: 171px;
    margin-left: -230px;
    /* margin-bottom: 239px;    */
}

.wrapper-2 {
    display: flex;
    justify-content: space-between;
}

.text-3 {
    font-size: 50px;
    margin-bottom: 72px;
}

.link {
    width: 180px;
    height: 50px;
    background-color: #0E0E0E;
    color: #E4B564;
    border: 1px solid #E4B564;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 487px);
    grid-template-rows: repeat(2, 391px);
    box-sizing: border-box;
}

.item3-1 {
    display: flex;
    background-color: #634F2C;
    justify-content: center;
    align-items: center;
}

.item3-2 {
    display: flex;
    background-color: #E8D2ABC2;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;   
}

.image-2 {
    display: block;
    width: 139px;
    height: 55px;
    text-align: center;
}

.image-3 {
    display: block;
    width: 62px;
    height: 55px;
    text-align: center;
}

.paragraph-2 {
    display: block;
    width: 326px;
    height: 140px;
    font-size: 22px;
    text-align: center;    
}

.item3-3 {
    display: flex;
    background-color: #E4B564;
    justify-content: center;
    align-items: center;
}

.item3-4 {
    display: flex;
    background-color: #635A4A;
    justify-content: center;
    align-items: center;
}

.item3-5 {
    display: flex;
    background-color: #B08C4D;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
}

.item3-6 {
    display: flex;
    background-color: #634F2C;
    justify-content: center;
    align-items: center;
}